# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
# Narrator: no
client/node_modules
node_modules
package-lock.json

.example.env

#build/dist folder
dist


#VSCode config
.vscode