# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
# Narrator: please do note check in node_modules
client/node_modules
node_modules
package-lock.json

#WIP server
../server/

#build/dist folder
dist


#VSCode config
.vscode