
:root {
  background-color: #005072;
}

.App {
  display: flex;
  flex-direction: column;
}

.Container {
  margin-left: auto;
  margin-right: auto;
}

.Content {
  color: whitesmoke;
}

.CiscoRed {
  color: #c5112e;
}

.Apple {
  color: #6ebe4a;
}

.Cyan {
  color: #00bceb;
}

.img {
  display: block;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 50%;
}

.Home {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
